<div id="full-ide">
    <div id="left-side" class="side">
        <div id="viz" class="content">
            <div id="video">

            </div>
            <div id="video-tools">
                <%= fa_icon 'play', id: 'play-button' %>
                <%= fa_icon 'stop', id: 'stop-button' %>
            </div>
        </div>
        <div id="details" class="content">

        </div>
    </div>

    <div id="right-side" class="side">
        <div id="toolbar">
            <%= fa_icon 'play', id: 'submit-button' %>
            <%= fa_icon 'repeat', id: 'repeat-button' %>
        </div>
        <div id="work">

        </div>
    </div>
</div>